<div class="control-popup modal fade" id="grayscaleForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
                </div>
                
                <div class="modalForm">
                    <div class="row">
                        <div class="col-md-12"><h3>Grayscale Settings</h3><hr/></div>
                    </div>                    
                    <div class="row">
                        <div class="col-md-12">
                            <label>Overwrite?</label>&nbsp;<input type="checkbox" id="overwrite" name="overwite" value="1">&nbsp;&nbsp;
                            <label>Keep Original?</label>&nbsp;<input type="checkbox" id="original" name="original" value="1" checked="checked">&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><small><strong>Please note:</strong><br/>Animated GIFs are not currently supported.</small></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">&nbsp;</div><div class="col-md-3">&nbsp;</div>
                        <div class="col-md-3">&nbsp;</div><div id="beforegs" class="col-md-3"><button type="button" id="gsbtn" data-request-loading="#loading" data-request="onCustomImage" onclick="return $(this).data('request-data', {checked: getRowAttributes($('tr.selected'),'#grayscaleForm')})" data-request-success="imageComplete();" class="btn btn-default"><i class="oc-icon-edit"></i>&nbsp;Grayscale</button></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>